html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: mintcream;
    margin-top: 20px !important;
    margin: 0px;
}

body::-webkit-scrollbar {width: 10px;}
body::-webkit-scrollbar-track {background: mintcream;}
body::-webkit-scrollbar-thumb {background-color: #5dac0e;}

h1 {font-size: 48pt; text-align: center; margin-top: 0px;}
h2 {font-size: 24pt; text-align: center; color: rgb(64, 64, 64);}
h3, th {font-size: 16pt; color: #5dac0e;}
h4 {font-size: 14pt; font-weight: bolder;}

main {padding-left: 3%; padding-right: 3%;}
footer {
    height: 200px;
    background-color: #5dac0e;
    padding-left: 0px !important; 
    padding-right: 0px !important;
    padding-top: 20px;
}

a {color: black;}
a:hover {color: rgb(0, 75, 0)}
a:active {color:mintcream}

.name {text-align: center;}
.name img {width: 90%;}
.nav-menu {margin-left: 50px; margin-right: 50px;}


